@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav ol {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;

-ms-flex-pack: center;
 justify-content: center;
  padding: 1rem 0;
  background-color: #FF4500;
}

nav ol li {
  list-style: none;
  padding: 0 2rem;
  font-family: 'Merienda', cursive;
  font-weight: bold;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

nav ol li a {
  text-decoration: none;
  color: whitesmoke;
}

nav ol li:hover a {
  color: teal;
}


nav {
  position: relative;
  background-color: #FF4500;
}

nav .hamburger {
  display: none;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40px;
  width: 40px;
}

nav .hamburger img {
  height: 100%;
  width: 100%;
}

nav .burgerMenu {
  display: none;
}

header {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
  font-family: 'Sacramento', cursive;
  background: -webkit-gradient(linear, left top, right bottom, from(teal), to(red));
  background: linear-gradient(to right bottom, teal, red);
  color: transparent;
  -webkit-background-clip: text;
}

header::first-letter {
  font-size: 1.5em;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem;
  overflow: hidden;
  margin: 1rem 0;
}

.container .foodpic {
  max-height: 300px;
  max-width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 20px -10px rgba(0, 0, 0, 0.616);

  box-shadow: 0px 4px 20px -10px rgba(0, 0, 0, 0.616);

}

.container .foodpic img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;

  object-fit: cover;
  -o-object-position: center;
  object-position: center;

  border-radius: inherit;
}

.container .foodmsg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;

  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  padding: 2rem;
}

.container .foodmsg h2 {
  width: 100%;
  padding: .5rem 2rem;
}

.container .foodmsg p {
  font-family: 'Sofia', cursive;
  font-size: 1.2rem;
  padding: 0 0 1rem;
}

.container .foodmsg p::before {
  content: attr();
}

footer {
  background-color: #FF4500;
  text-align: center;
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  nav ol li {

    display: none;
  }
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 10;
  }
  nav .hamburger {
    display: block;
  }
  nav .burgerMenu {
    min-width: 100%;
    position: absolute;
    top: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    z-index: 10;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.205);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.205);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }
  nav .burgerMenu li {
    list-style: none;
    padding: 0 2rem;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 0;
    white-space: nowrap;
  }
  nav .burgerMenu li a {
    text-decoration: none;
    color: black;
  }
  nav .activeBurgMenu {
    top: 100%;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }
  nav ol li {
    font-size: 1rem;
    padding: 0 1rem;
  }
  header {
    font-size: 1rem;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;

    -ms-flex-flow: column;
    flex-flow: column;
  }
  .container .foodpic {
    margin: auto;
    height: 200px;
    width: 100%;
  }
  .container .foodmsg h2 {
    padding: 1rem 0;
  }

  footer span {
    display: block;
    color: purple;
    font-size: 1.2em;
  }


/*# sourceMappingURL=style.css.map */